# Backend config
DEBUG=True
SECRET_KEY=''
DJANGO_ALLOWED_HOSTS=''
MEDIA_URL='media/'
STATIC_URL='static/'


# Database config
DATABASE_NAME=code_chaser
DATABASE_OWNER=czkr
DATABASE_PASSWORD=stIxFR0T5aq4X9jNK
DATABASE_HOST=postgres://czkr:std4X9jNggy.db.elephantsql.com/czkr
DATABASE_PORT=5432


# Email settings
EMAIL_BACKEND='django.core.mail.backends.smtp.EmailBackend'
EMAIL_HOST='smtp.gmail.com'
EMAIL_HOST_USER='youremail@domain.com'
EMAIL_HOST_PASSWORD='youremailpassword' 
EMAIL_PORT=587
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL='default from email'


# Cloud Storage to serve Media and Static Files
CLOUDINARY_CLOUD_NAME=''
CLOUDINARY_API_KEY=''
CLOUDINARY_API_SECRET=''

DEFAULT_FILE_STORAGE=''
STATICFILES_STORAGE=''